*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

.layout{
    display: flex;
    flex-direction: column;
    background:#272727;
    height: 170vh;
}

.layouttext1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    
}


.layouttext1>h1{
    font-size: 64px;
    color: white;
    
}
.layoutblock{
    display: flex;
    justify-content: space-around;
    
}

.lb1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 30vh;
    opacity: .5;
}
.lb1:hover{
    opacity: 1;
    transition: .5s;
}
.lb1>img{
    width: 85%;
    
}

.lb1>h1{
    font-size: 19.8px;
    color: white;
    font-weight: lighter;
}



.layouttext1>p{
    color: #7a7a7a;
    text-align: center;
    font-size: 21px;
}


.custom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    height: 80vh;
    background-image: url(./img/custom.jpg);
    background-size: 100% ;
}
.customtext{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 40vh;
}
.customtext>h1{
    font-size: 46px;
    line-height: 46px;
}

.customtext>p{
    font-size: 21px;
    color: #272727;
    font-weight: lighter;
    line-height: 35.4px;
}

.woo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180vh;
    

}

.woo> #pic1{
    width: 20%;
}

.woo>h2{
    font-weight: lighter;
}

.woo>h2>span{
    font-weight: bold;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10vh;
    
}
.btn1{
    width: 20%;
    height:7vh;
    background: white;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

#active{
    color: white;
    background: black;
}